<!DOCTYPE HTML>
<!--
/*
 * Dog Segmentation
 * https://github.com/justinshenk/dogmentation
 *
 * Copyright 2018, Justin Shenk
 *
  */
-->
<html lang="en">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta charset="utf-8">
    <title>Dogmentation</title>
    <meta name="description" content="Dog segmentation leaderboard.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fileupload-ui.css') }}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    {#<noscript><link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fileupload-noscript.css')}}"></noscript>#}
    {#<noscript><link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.fileupload-ui-noscript.css')}}"></noscript>#}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://github.com/justinshenk/dogmentation">Dogmentation</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/justinshenk/dogmentation">Source Code</a></li>
                <li><a href="https://github.com/justinshenk/dogmentation/wiki">Documentation</a></li>
                <li><a href="https://justinshenk.github.io">Author</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1>Dogmentation</h1>
    <p style="text-align:right"><img
            src="https://ih0.redbubble.net/image.368459420.3040/ap,550x550,12x16,1,transparent,t.u2.png" height="80"/>
    </p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-info">
                        <strong>Error: </strong> {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <strong>Success! </strong> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- The file upload form used as target for the file upload widget -->
    <div class="">
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <label for=name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL">
                <label for="token">Token</label>
                <input type="text" class="form-control" id="token" name="token" placeholder="Enter token">
                <label for="field_in">Input Field</label>
                <input type="text" class="form-control" id="field_in" name="field_in"
                       placeholder="Enter input field name (eg, 'image')"/>
                <label for="field_out">Output Field</label>
                <input type="text" class="form-control" id="field_out" name="field_out"
                       placeholder="Enter out field name (eg, 'mask')"/>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
            <table role="presentation" class="table table-striped" id="leaderboardTable">
                <tbody class="files" style="background-color:gray">
                <tr>
                    <th onclick="sortTable(0)">Timestamp</th>
                    <th onclick="sortTable(1)">Name</th>
                    <th onclick="sortTable(2)">Test IoU</th>
                    <th>Result</th>
                    <th></th>
                </tr>
                {% for result in results %}
                    {% if loop.index is even %}
                        <tr class="" style="background-color: #E0E0E0">
                            {% else %}
                        <tr style="background-color: white">
                    {% endif %}
                    <td>
                    <span class="timestamp">
                        {{ result.timestamp }}
                    </span>
                    </td>
                    <td>
                    <span class="name">
                    {% if loop.index == 1 %}
                        <span id="leaderSpan"></span>
                    {% endif %}
                        {{ result.name }}
                    </span>
                    </td>
                    <td>
                        <span class="preview">{{ result.iou }}</span>
                    </td>
                    <td>
                        <span class="preview"><img src="/uploads/{{ result.out_img }}"/></span>
                    </td>
                    <td>
                        <button id="button{{ loop.index }}" class="btn btn-warning cancel glyphicon glyphicon-ban-circle"
                                disabled=true type="reset">
                        </button>
                    </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {#        </div>#}
    </div>

    <br>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static',filename='js/jquery.ui.widget.js') }}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ url_for('static',filename='js/tmpl.min.js') }}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ url_for('static',filename='js/jquery.iframe-transport.js') }}"></script>
<!-- The main application script -->
{#<script src="{{ url_for('static',filename='js/main.js') }}"></script>#}
<script>
    $("button.cancel").click(function () {
        // Get row number from button
        var id = this.id.split('button').pop();
        // Convert to zero-indexing for Pandas
        var row_idx = parseInt(id) - 1;

        window.location.href = '/remove' + '/' + row_idx;
    });

    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("leaderboardTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

</script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
</body>
</html>
